* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html 
{
  font-size: 62.5%;
}

body
{
  background-color: #000000;
}

.claude
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.links
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a
{
  font-size: 3rem;
  text-decoration: none;
  color: #ffffff;
}