* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --frame-width: 60px;
}

html 
{
  font-size: 62.5%;
}

body
{ 
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;

  overflow-x: hidden; /* sin scroll horizontal */
}


/* Contenedor fijo y recorte */
.frame {
  position: fixed;
  top: 0;
  bottom: 0;
  width: var(--frame-width);
  overflow: hidden;
  z-index: 10;
}

/* Posición izquierda/derecha */
.frame-left  { left: 0;  }
.frame-right { right: 0; }

/* Imagen rotada y tamaño controlado */
.frame img 
{
  position: absolute;
  /* El ancho de la imagen será igual a la altura de la ventana: */
  width: 100vh;
  height: auto;        
  top: 50%;
  left: 50%;
  transform-origin: center center;
}

/* Rotaciones opuestas */
.frame-left  img { transform: translate(-50%, -50%) rotate(90deg);  }
.frame-right img { transform: translate(-50%, -50%) rotate(90deg);  }
  
/* Contenido central deja espacio para los marcos */
.content 
{
  margin: 20px var(--frame-width);
  text-align: center;
}
.content h1 {
  margin-bottom: 1rem;
}


.fullscreen 
{
  width: 100vw;
  height: 100vh;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hibiscus-uno
{
  width: 100vw;
}

.titulo-uno
{
  font-size: 10rem;
}

.nombre-uno
{
  font-size: 3.7rem;
  padding-top: 4rem;
}

.dos-frase
{
  font-size: 5rem;
  margin-top: 10rem;
}

.dos-imagen
{
  border: 2px solid #FF0000;
  width: 200px;
  height: 200px;
  margin-left: 12rem;
}

.tres-texto
{
  font-size: 5rem;
}

.cuatro-texto
{
  font-size: 5rem;
}

.cuatro-box
{
  margin-bottom: 10rem;
}

#Guard
{
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}