* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --frame-width: 60px;
}

html 
{
  font-size: 62.5%;
}

body
{ 
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;

  overflow-x: hidden; /* sin scroll horizontal */
}

.fullscreen 
{
  width: 100vw;
  height: 100vh;
}

.flex-center 
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hibiscus-uno
{
  width: 100vw;
}

.titulo-uno
{
  font-size: 10rem;
}

.nombre-uno
{
  font-size: 3.7rem;
  padding-top: 4rem;
}

