* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html 
{
  font-size: 62.5%;
}

body
{ 
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.fullscreen 
{
  width: 100vw;
  height: 100vh;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hibiscus-uno
{
  width: 100vw;
}

.titulo-uno
{
  font-size: 10rem;
}

.nombre-uno
{
  font-size: 3.7rem;
  padding-top: 4rem;
}

.dos-frase
{
  font-size: 5rem;
  margin-top: 10rem;
}

.dos-imagen
{
  border: 2px solid #FF0000;
  width: 200px;
  height: 200px;
  margin-left: 12rem;
}

.tres-texto
{
  font-size: 5rem;
}

.cuatro-texto
{
  font-size: 5rem;
}

#Guard
{
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}